body{
    width: 300px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;

}

p{
    display:inline-flex;
    margin: auto 10px;
    font-size: 23px;
    color: dodgerblue;
    border-radius: 6px;
 padding: 10px;
    border: 1px solid lightblue;
}